services:
    _defaults:
        autowire: true
        public: false
        autoconfigure: true

    _instanceof:
        Lle\ImportBundle\Contracts\ReaderInterface:
            tags: ['import.reader']

        Lle\ImportBundle\Contracts\ImportHelperInterface:
            tags: ['import.helper']

    Lle\ImportBundle\Command\:
        resource: '../../Command'

    Lle\ImportBundle\Reader\Reader:
        arguments:
            $readers: !tagged_iterator import.reader

    Lle\ImportBundle\Helper\Helper:
        arguments:
            $helpers: !tagged_iterator import.helper

    Lle\ImportBundle\Reader\:
        exclude: '../../Reader/Reader.php'
        resource: '../../Reader'

    Lle\ImportBundle\Service\:
        resource: '../../Service'

    Lle\ImportBundle\Service\ImportService:
        arguments:
            - '@parameter_bag'
            - '@service_container'
            - '@doctrine.orm.entity_manager'
            - '@Lle\ImportBundle\Reader\Reader'
            - '@Lle\ImportBundle\Helper\Helper'
            - '@property_accessor'
